<nav class="top-nav navbar navbar-expand-lg sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="../static/img/hamb.png" class="hamb"></span>
    </button>
    <img id="logo" src="../static/img/logo1.png">
    <img id="logo2" src="../static/img/logo2.png">
    <div class="collapse navbar-collapse" id="navbarsExample05">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="projects">Projects</a>
        <a class="nav-link" href="exp">Experience</a>
        <!--<a class="nav-link" href="skills">Skills</a>-->
        <a class="nav-link" href="contact">Contact me</a>
    </div>
</nav>