{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-10">
        <h1>Professional experience</h1>
        <p class="jsubtitle">仕事の経験</p>
    </div>
</div>

<hr/>
    <div class="row">
        <div class="job-block">
            <h2>Junior backend developer</h2>
            <div class="row">
                <div class="col-lg-2">
                    <h6>Company</h6>
                    <p>APP rendafixa</p>
                </div>
                <div class="col-lg-2">
                    <h6>From / to</h6>
                    <p>09/2019 - Now</p>
                </div>
                <div class="col-lg-4">
                    <h6>Skills</h6>
                    <span class="pill">Python</span>
                    <span class="pill">NoSQL</span>
                    <span class="pill">Flask</span>
                    <span class="pill">Web scrapping</span>
                </div>
                <div class="col-lg-4">
                    <h6>Description</h6>
                    <p>
                        Development and maintenance of APIs, webscrapping and crawling scripts, using
                        scrum as methodology.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}