{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-4">
        <h1>Hey I'm Yan</h1>
        <p> 
            <p class="jsubtitle">初めまして、ヤンです</p>
            I'm a 22 years old backend developer, experienced with
            <strong>python & flask</strong> and learning
            <strong>JavaScript</strong>.
            <br/>
            <br/>
            I'm also very interested in the <strong>Data Science</strong>
            area and want to work with it.
        </p>
        <div class="row">
            <a class="mybuttons contact" href="contact">Get in touch</a>
            <a class="mybuttons projects" href="projects">My projects</a>
        </div>
    </div>
</div>

{% endblock %}



