{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-lg-5">
        <h1>Hey, I'm Yan</h1>
        <p> 
            <p class="jsubtitle">初めまして、ヤンです</p>
            I'm a 23 years old backend developer, experienced with
            with web development using <strong>python & flask</strong>.
            <br/>
            <br/>
            Coding is either my job and hobby, so I keep always trying
            to improve both.
        </p>
        <div class="row">
            <a class="mybuttons contact" href="contact">Get in touch</a>
            <a class="mybuttons projects" href="projects">My projects</a>
        </div>
    </div>
    <div class="col-lg-7">
        <img src="../static/img/me.png" class="me">
    </div>
</div>

{% endblock %}



