{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-lg-5">
        <h1>Projects</h1>
        <p class="jsubtitle">事業</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card border-glow">
            <img class="card-img-top" src="../static/img/projects/project_monika.png">
            <div class="card-header text-center">
                <h5>Project monika website</h5>
            </div>
            <div class="card-body">
                <p class="card-text">A web application for communication and file uploading between members of a group of developers</p>
            </div>
            <div class="card-footer">
                <span class="pill">MySQL</span>
                <span class="pill">Flask</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-glow">
            <img class="card-img-top" src="../static/img/projects/project_monika.png">
            <div class="card-header text-center">
                <h5>Project monika API & web 2.0</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Rebuilding the site, and developing an API for better use among some other project applications</p>
            </div>
            <div class="card-footer">
                <span class="pill-warn">Under development</span>
                <span class="pill">Flask</span>
                <span class="pill">React</span>
                <span class="pill">MongoDB</span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card border-glow">
            <img class="card-img-top" src="../static/img/projects/comunicapao.png">
            <div class="card-header text-center">
                <h5>ComunicaPao webpage</h5>
            </div>
            <div class="card-body">
                <p class="card-text">A simple site for online disclosure of the company and easier email contact via a simple form</p>
            </div>
            <div class="card-footer">
                <span class="pill">PHP</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}